<ion-card class="card-background-page">
  <img src="./assets/imgs/example.png">

  <ion-item text-wrap>
      <p>Paseo de la Castellana, 257, 28046 Madrid</p>
  </ion-item>

  <ion-row>
      <ion-col text-center>
          <button ion-button round (click)="showCart()" class="btnRound">
            Carta
          </button>
      </ion-col>
      <ion-col text-center>
          <button ion-button round (click)="goToReservation()" class="btnRound">
            Reservar
          </button>
      </ion-col>
  </ion-row>
</ion-card>