<ion-card class="card-background-page">
  <img src="./assets/imgs/example.png">
  <div class="card-title">Amsterdam</div>
  <div class="card-subtitle">64 Listings</div>

  <ion-item>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-item>

  <ion-row>
      <ion-col>
          <button ion-button round (click)="showCart()">
            Carta
          </button>
      </ion-col>
      <ion-col>
          <button ion-button round (click)="goToReservation()">
            Reservar
          </button>
      </ion-col>
  </ion-row>
</ion-card>