<ion-card class="card-background-page">
  <img src="./assets/imgs/example.png">

  <ion-item text-wrap>
      <p>Calle Capitán Haya, 53, 28020 Madrid</p>
  </ion-item>

  <ion-row>
      <ion-col text-center>
          <button ion-button round (click)="showCart()" class="btnRound">
            Carta
          </button>
      </ion-col>
      <ion-col text-center>
          <a href="https://maps.google.com/maps?ll=40.463357,-3.691769&amp;z=18&amp;t=m&amp;hl=es-ES&amp;gl=US&amp;mapclient=apiv3&amp;cid=2685489608181249005" ion-button round class="btnRound">
            Ir
          </a>
      </ion-col>
  </ion-row>
</ion-card>
