page-reservation-confirm {
    .spanCompletedRes {
        position: absolute;
        top: 20px;
        left: 45px;
    }

    .itemCheckTick {
        padding-left: 0 !important;
    }

    .parCenter {

    }

    .btnConfirm {
        margin-left: 32%;
        margin-top: 20%;
    }
}
