card-agenda {
    .card-background-page {
        ion-card {
            text-align: center;
        }
      
        .card-title {
            position: absolute;
            top: 5%;
            left: 7%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
      
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 20%;
            left: 7%;
            width: 100%;
            color: #fff;
        }

        .img-avatar {
            width:50px;
            height:50px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            bottom: 20%;
            left: 7%;
        }

        .imgAvatarLike {
            position: absolute;
            bottom: 25%;
            left: 19%;
            padding-left: 10px;
            font-weight: bold;
            color: #fff;
        }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 10px;
    }
}
