page-proceso-reserva {
    .btnSelectedNumPerson {
        padding: 18px;
    }

    .maxPlus {
        margin-left: 30px !important;
    }

    .leftMinus {
        margin-right: 30px !important;
    }
    
    .btnConfirm {
        margin-left: 32%;
        margin-top: 20%;
    }
}
